# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env.local
.env.*.local

# Firebase
.firebase/

# Editor
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Vercel
.vercel
